* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Space Mono', monospace;
}

body {
    font-size: 2.4rem;
}

input,
button {
    font: inherit;
}

.selected {
    background-color: aquamarine;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}